main{
    margin-left: 200px;
}

.home-container {
    display: grid;
}

.modal-header p {
    margin-left: 11rem;
}

.post-pit {
    position: fixed;
    background-color: #ffffff;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: baseline;
    flex-direction: column-reverse;
    gap: 0.5rem;
}

.search_user_bar{
    border-radius: 1rem;
    border-color: rgb(151, 145, 137);
    border: 1rem;
}

.post-pit input{
    width: 83%;
}

.post-pit-bottom{
    display: flex;
    margin-left: 1rem; 
    width: 100%;
    gap: 1rem;
}

.post-pit-bottom-button{ /* fix expansive position*/
    margin-left: 65%;
    margin-bottom: 1%;
}




.profile-box {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.settings-box {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.logout-box {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.post-bar{
    border-radius: 10px;
    margin-top: 1%;
    
}

.feed-section {
    display: flex;
    flex-direction: column;
    background-color: #e0e0e0;
    padding: 1rem;
    margin-top: 100px;
    align-items: center;
}

.fixedContent{
    display: flex;
    position: fixed;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.fixedContent button{
    width: 200px;
}

.search_user_bar {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .search-results {
    max-height: 200px; /* Adjust as needed */
    overflow-y: auto;
    border: 1px solid #eee;
    border-radius: 4px;
    padding: 0.5rem;
    background-color: #f9f9f9;
  }
  
  .search-result-item {
    padding: 0.25rem 0;
    border-bottom: 1px solid #ddd;
  }
  
  .search-result-item:last-child {
    border-bottom: none;
  }